@media screen and (max-device-width: 480px) {

    /* header */
    header {
        padding: 0;
    }

    nav {
        background-color: #fff;
        box-shadow: 1px 1px 5px #c2c2c2;
        border-radius: 0;
        max-width: 27%;
        padding: 10px 14px;
        justify-content: space-between
    }

    .logo img {
        height: 24px;
    }

    nav .links,
    nav .right {
        display: none;
    }

    .hamburger_icon {
        font-size: 30px;
        color: #333333;
    }

    /* hero section */
    .hero__section {
        margin-top: 70px;
    }

    .img {
        height: 0;
    }

    .img img {
        height: 0;
    }

    .hero__text {
        padding-right: 28px;
        position: relative;
        left: 0;
        width: 100%;
    }

    .hero__text h3 {
        line-height: 2rem;
        font-size: 1.5rem;
    }

    .hero__text p {
        width: 85%;
        font-size: .7rem;
        font-weight: 400;
    }

    #select {
        margin-top: 26px;
        padding: 7px 9px;
        font-size: .7rem;
        width: 85%;
    }

    #price {
        padding-right: 3px;
        margin-right: 3px;
    }

    #discount p {
        font-size: 1rem;
    }

    #discount h4 {
        font-size: .9rem;
        font-weight: 600;
    }

    #price {
        padding-right: 3px;
        margin-right: 3px;
        display: flex;
        align-items: center;
    }

    #price h1 {
        font-size: 1.4rem;
        font-weight: 600;
    }

    #discount p {
        font-size: .9rem;
    }

    #discount h4 {
        font-size: .8rem;
        font-weight: 600;
    }

    .hero__text h5 {
        font-size: .7rem;
        font-weight: 600;
        margin-top: 24px;
    }

    .red__button {
        padding: 7px 30px;
        font-size: .9rem;
    }

    .border__button {
        padding: 7px 30px;
        font-size: .9rem;
        margin: 10px 0 5px 11px;
    }

    .hero__text p {
        font-size: .5rem;
    }

    .payment__icons img {
        margin-top: 20px;
        height: 20px;
    }

    .mtp__badges {
        margin-top: 14px;
    }

    .mtp__badges img {
        height: 25px;
    }

    /* section 1 */
    .section_1 {
        padding: 0 30px;
    }

    .section_1 h2 {
        font-size: 1.2rem;
        font-weight: 500;
        width: 70%;
    }

    .section_1 .card__container {
        margin: 22px 0;
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .section_1 .card__container .card img {
        height: 65px;
        width: 65px;
    }

    .section_1 .card__container .card h4 {
        margin: 20px 0 8px;
        font-size: .9rem;
        font-weight: 600;
    }

    .section_1 .card__container .card p {
        font-size: .7rem;
        width: 70%;
    }

    /* section 2 */
    .section_2 {
        padding: 48px 30px 0;
    }

    .section_2 .product__cards {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .section_2 .product__cards:nth-of-type(1){
        order: 4;
    }
    .section_2 .product__cards:nth-of-type(2){
        order: 3;
    }

    .product__details {
        background-color: #fff;
        width: 70%;
    }

    .product__details h3 {
        display: none;
    }

    .accordians {
        margin: 22px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        font-size: .8rem;
    }

    .accordian {
        margin: 3px 0;
        padding: 6px 3px;
    }

    .greyBg {
        background-color: #f2f2f2;
    }

    .symbol {
        font-size: 1rem;
        margin: 0 8px;
    }

    /* product cards */
    .product__card {
        height: auto;
        width: 70%;
        text-align: center;
    }

    .product__card .content {
        margin: 16px;
    }

    .product__card .content h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .product__card .content p {
        margin: 8px 0;
        font-size: .7rem;
    }

    .product__card .content .price {
        font-size: 1.3rem;
        margin: 0 auto;
    }

    .redBorder__button {
        width: 100%;
        padding: 6px 30px;
        font-size: .9rem;
    }

    .premium .tag {
        font-size: .9rem;
    }

    .premium .tag img {
        height: .9rem;
    }
    .section_2 .product__cards {
        grid-template-areas: 'card_4' 'card_3' 'card_2' 'card_1';
    }
    /* section 3 */
    .section_3{
        padding: 48px 30px 0;
        font-size: .8rem;
    }
    .section_3 .top {
        margin: 3px 0;
        padding: 6px 3px;
        width: 70%;
        grid-template-columns: 1fr;
    }
    .section_3 .top .right {
        display: none;
    }
    .section_3 .bottom {
        padding: 6px 3px;
        grid-template-columns: 1fr;
    }
    .section_3 .bottom .right {
        display: none;
    }
    /* section 4 */
    .section_4 {
        padding: 48px 30px 0;
    }
    .section_4 h2 {
        font-size: 1.1rem;
        font-weight: 500;
        width: 75%;
    }
    .affordable__cards {
        display: flex;
        flex-direction: column-reverse;
    }
    .affordable__cards .basic__card {
    margin-left: 0;
    width: 70%;
    padding:  16px;
}

.basic__card .content h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.basic__card .content p {
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.basic__card .content .price {
    font-size: 1.3rem;
        margin: 0 auto;
}
.affordable__cards .product__details {
    text-align: left;
    width: 75%;
    padding: 0;
}
.affordable__cards .product__details h3+p {
    display: none;
}
.affordable__cards .product__details .accordians {
    display: grid;
    grid-template-columns: 1fr;
}
.section_4 .btm__para {
    width: 70%;
    margin-top: 10px;
    text-align: center;
    font-size: .6rem;
}

}