@media screen and (max-width: 480px) {

    /* header */
    header {
        padding: 0;
    }

    nav {
        background-color: #fff;
        box-shadow: 1px 1px 5px #c2c2c2;
        border-radius: 0;
        max-width: 100%;
        padding: 10px 14px;
        justify-content: space-between
    }

    .logo img {
        height: 24px;
    }

    nav .links,
    nav .right {
        display: none;
    }

    .hamburger_icon {
        font-size: 30px;
        color: #333333;
    }

    /* hero section */
    .hero__section {
        margin: 70px 42px;
    }

    .img {
        height: 0;
    }

    .img img {
        height: 0;
    }

    .hero__text {
        position: relative;
        left: 0;
        width: 100%;
    }

    .hero__text h3 {
        line-height: 2.2rem;
        font-size: 1.8rem;
    }

    #select {
        margin-top: 26px;
        width: 96%;
    }

    #discount p {
        font-size: 1rem;
    }

    #discount h4 {
        font-size: .9rem;
        font-weight: 600;
    }

    #price {
        padding-right: 3px;
        margin-right: 3px;
        display: flex;
        align-items: center;
    }

    #price h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    #discount p {
        font-size: .9rem;
    }

    #discount h4 {
        font-size: .8rem;
        font-weight: 600;
    }

    .hero__text h5 {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 24px;
    }

    .red__button {
        width: 96%;
        padding: 7px 30px;
        font-size: rem;
    }

    .border__button {
        width: 96%;
        padding: 7px 30px;
        font-size: .9rem;
        margin: 10px 0 5px 11px;
    }

    .hero__text p {
        font-size: .7rem;
    }

    .payment__icons img {
        margin-top: 20px;
        height: 20px;
    }

    .mtp__badges {
        margin-top: 14px;
    }

    .supported__OS p {
        font-size: 1rem;
    }

    /* section 1 */
    .section_1 {
        padding: 70px 30px;
    }

    .section_1 h2 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .section_1 .card__container {
        margin: 22px 0;
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .section_1 .card__container .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section_1 .card__container .card h4 {
        margin: 20px 0 8px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .section_1 .card__container .card p {
        font-size: .9rem;
    }

    /* section 2 */
    .section_2 {
        padding: 48px 30px 0;
    }

    .section_2 .product__cards {
        display: flex;
        flex-direction: column-reverse;
    }

    .product__details {
        background-color: #fff;
    }

    .product__details h3 {
        display: none;
    }

    .accordians {
        margin: 22px 0 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        font-size: 1rem;
    }

    .accordian {
        margin: 3px 0;
        padding: 9px 6px;
    }

    .greyBg {
        background-color: #f2f2f2;
    }

    .symbol {
        font-size: 1rem;
        margin: 0 8px;
    }

    /* product cards */
    .product__card {
        height: auto;
        text-align: center;
    }

    .product__card .content {
        margin: 25px 70px;
    }

    .product__card .content h3 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .product__card .content p {
        margin: 8px 0;
        font-size: .9rem;
    }

    .product__card .content .price {
        font-size: 1.7rem;
        margin: 0 auto;
    }

    .redBorder__button {
        width: 100%;
        padding: 6px 30px;
        font-size: 1.2rem;
    }

    .premium .tag {
        font-size: 1.2rem;
    }

    .premium .tag img {
        height: 1.2rem;
    }

    /* section 3 */
    .section_3 {
        padding: 0 30px;
        font-size: 1rem;
    }

    .section_3 .top {
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        background-color: #fff;
    }

    .section_3 .top .right {
        display: none;
    }

    .section_3 .bottom {
        background-color: #f2f2f2;
        padding: 0;
        grid-template-columns: 1fr;
    }

    .section_3 .bottom .right {
        display: none;
    }

    /* section 4 */
    .section_4 {
        padding: 48px 30px 0;
    }

    .section_4 h2 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .affordable__cards {
        display: flex;
        flex-direction: column-reverse;
    }

    .affordable__cards .basic__card {
        margin-left: 0;
        width: 100%;
        padding: 16px;
    }

    .affordable__cards .basic__card .content {
        margin: 25px 50px;
    }

    .basic__card .content h3 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .basic__card .content p {
        font-size: .9rem;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .basic__card .content .price {
        font-size: 1.7rem;
        margin: 0 auto;
    }

    .affordable__cards .product__details {
        text-align: left;
        width: 100%;
        padding: 0;
    }

    .affordable__cards .product__details h3+p {
        display: none;
    }

    .affordable__cards .product__details .accordians {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section_4 .btm__para {
        margin-top: 10px;
        text-align: center;
        font-size: .8rem;
    }

    /* section 6 */
    .section_6 .content {
        border-radius: 12px;
        padding: 30px 40px;
        width: 100%;
    }

    .section_6 .content h2 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .section_6 .content .awards {
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .section_6 .content .awards .golden__leaves img {
        height: 0;
    }

    .section_6 .content .awards .award img {
        height: 63px;
    }

    .section_6 .content .awards div {
        margin: 8px;
    }

    /* section 7 */

    .section_7 .content {
        padding: 30px;
        border-radius: 12px;
    }

    .section_7 .content h2 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .section_7 .content .card__container {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: left;
    }

    .section_7 .content .card__container .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section_7 .content .card__container .card h3 {
        margin: 8px 0;
    }

    .section_7 .content .card__container .card img {
        height: 100px;
    }

    .section_7 .content p {
        margin: 0 0 40px;
    }

    /* section 8 */
    .section_8 {
        padding: 35px;
    }

    .section_8 .top {
        padding: 0;
        flex-direction: column-reverse;
    }

    .section_8 .top .right img {
        width: 100%;
    }

    .section_8 .top .left {
        padding: 16px 0;
    }

    .section_8 .top .left h2 {
        font-size: 1.7rem;
    }

    .section_8 .top .left p {
        margin: 16px 0 0;
        font-size: .9rem;
    }

    .section_8 .card__container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section_8 .card__container .card p {
        margin: 24px 0;
        font-size: 1.1rem;
    }

    /* section 9 */

    .section_9 {
        padding: 8px;
    }

    .section_9 .container {
        flex-direction: column-reverse;
    }

    .section_9 .container .left {
        width: 100%;
        padding-top: 16px;
    }

    .section_9 .container .right {
        width: 100%;
    }

    .section_9 .container .right img {
        width: 100%;
        height: 110%;

    }

    .section_9 .container .left h2 {
        font-size: 1.7rem;
        line-height: 1.9rem;
    }

    .section_9 .container .left p {
        margin: 16px 0;
        font-size: .9rem;
    }

    .section_9 .container .left .buttons {
        margin-top: 38px;
        flex-direction: column;
    }

    .section_9 .container .left .buttons .border__button {
        padding: 6px 61px;
    }

    /* section 10 */
    .section_10 {
        padding: 8px;
    }

    .section_10 .container {
        padding: 0;
        flex-direction: column;
    }

    .section_10 .container .right {
        width: 100%;
    }

    .section_10 .container .left {
        width: 100%;
    }

    .section_10 .container .left img {
        width: 100%;
    }

    .section_10 .container .right h2 {
        font-size: 1.7rem;
        line-height: 1.9rem;
    }

    .section_10 .container .right p {
        padding: 16px;
        padding-left: 0;
        font-size: .9rem;
    }

    #list {
        padding: 25px;
        margin: 0;
    }

    .faq__section {
        padding: 16px;
    }

    .faq__section .content {
        border-radius: 12px;
        padding: 22px 0;
    }

    .faq__section .content h2 {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .faq__section .content p {
        font-size: 1.1rem;
    }

    .faq__section .content .faq__accordians {
        margin: 49px 30px;
    }

    .faq__section .content .faq__accordians .faq__accordian {

        border: none;
        border-radius: 12px;
        padding: 12px 20px 12px 40px;
    }

    .faq__section .content .faq__accordians .faq__accordian .container .title {
        width: 100%;
        font-size: 1.2rem;
    }

    /* footer */

    footer {
        padding: 42px 16px;
    }

    footer .content {
        border-radius: 12px;
        padding: 25px;
    }

    footer .content .top {
        grid-template-columns: 1fr;
    }

    footer .content .ft__left {
        grid-template-columns: 1fr;
    }

    footer .content .ft__right {
        grid-template-columns: 1fr;
        gap: 32px;
        text-align: center;
    }

    footer ul a:hover {
        color: #ff1c1c;
    }

    footer .content .ft__right {
        margin-top: 48px;
    }


}